<footer>
    <div class="footer-info">

        <div class="footer-info-socials"></div>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div style="text-align: center">&copy; WanderLust Private Limited</div> 
    <!-- &copy; is for copyright symbol -->

    <div class="footer-info-link">
        <a href="">privacy</a>
        <a href="">Terms</a>
    </div>
</footer>